/* Styles pour le formulaire */
.form-horizontal {
    background-color: #f0f0f0; /* Couleur de fond du formulaire */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.form-group {
    margin-bottom: 20px;
}

.control-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #6c757d; /* Nouvelle couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animation de transition */
}

    .btn-primary:hover {
        background-color: #5a6268; /* Nouvelle couleur de fond au survol */
    }

/* Styles pour les liens */
a {
    color: #007bff; /* Couleur des liens */
    text-decoration: none; /* Pas de soulignement */
    transition: color 0.3s ease; /* Animation de transition */
}

    a:hover {
        color: #0056b3; /* Couleur des liens au survol */
    }

/* Styles pour les messages d'erreur */
.text-danger {
    color: #dc3545; /* Couleur rouge pour les messages d'erreur */
}

#erreur, #erreur1 {
    margin-top: 20px;
    color: #dc3545;
}

/* Styles pour la barre de navigation */
.navbar {
    background-color: #6c757d; /* Couleur de fond de la barre de navigation */
    border-bottom: 1px solid #ccc;
}

.navbar-brand {
    padding: 0;
}

    .navbar-brand img {
        height: 50px; /* Taille du logo */
    }

#txtLogo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

.boite1, .boite3 {
    padding: 10px;
    border-radius: 4px;
}

/* Media queries pour une mise en page responsive */
@media (max-width: 768px) {
    .form-horizontal {
        padding: 10px;
    }
}
