.vs/ProjetEp\303\256cerie/FileContentIndex/2d1ac0e5-315a-45af-aee5-7f61e1810c5b.vsidx
.vs/ProjetEp\303\256cerie/FileContentIndex/654cd42f-0fc1-4650-a160-ef341ebe6d11.vsidx
.vs/ProjetEp\303\256cerie/FileContentIndex/adaf7a5e-4cab-4e8f-97de-745b97c39815.vsidx
.vs/ProjetEp\303\256cerie/FileContentIndex/b45ff75f-debd-41a8-9992-f95e3e0700c4.vsidx
.vs/ProjetEp\303\256cerie/FileContentIndex/fc6580f6-3ca1-47f3-868c-bbcc67f54d4c.vsidx
App_Data/ProjetEp\303\256cerie.Models.MamibepicerieDb.mdf
App_Data/ProjetEp\303\256cerie.Models.MamibepicerieDb_log.ldf
Css/Acc.css
Css/Admin.css
Css/Panier.css
Css/aaa.css
Images/
Models/MamibepicerieDb.cs
e-commerce/